table {
  width: 100%;
}
table th {
  font-weight: bold;
  font-size: 50px;
}
table td {
  font-size: 20px;
}
table th, table td {
  width: 20%;
  border: 2px solid #000;
  text-align: center;
  height: 170px;
}