table {
  width: 100%;
}
table th {
  font-weight: bold;
  font-size: 30px;
}
table td {
  font-size: 14px;
}
table th, table td {
  border: 2px solid #000;
  text-align: center;
  height: 110px;
  padding: 5px;
  
  img {
    margin: 0 40px;
  }
}